body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #3498db, #050008);
    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    /* transition: transform 0.3s ease-in-out; */
}
/* 
.login-container:hover {
    /* transform: scale(1.05); */
/* } */ */

h1{
    text-align: center;
    margin-bottom: 20px;
    color: #116aa4;
}

label {
    margin-bottom: 8px;
    color: #333;
    text-align: left;
}

.input-container {
    position: relative;
    margin-bottom: 16px;
}

input {
    width: calc(100% - 20px); 
    padding: 10px;
    border: 1px solid #3498db;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    box-sizing: border-box; 
    padding-left: 40px;
}

.icon {
    position: relative;
    top: 52%;
    left:25px;
    color: #555; 
}

button {
    width: 30%;
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

.signup {
    color: #333;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    text-align: left;
}

.signup:hover {
    text-decoration: underline;
}
.error{
    color: red;
}